/*Opdracht 1*/
/*Verschillende selectors*/
div h2 {
    color: green;
}

div p {
    color: darkblue;
}

div {
    color: green;
}

/*Verschillende selectors class en attribute*/
#class-selector {
    color: black;
    background-color: hotpink;
    width: 150px;
}

#pt {
    color: green;
}

#pt1 {
    color: darkblue;
}

/*Universal selector*/
* {
    background-color: pink;
}