*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: #ee9ca7;  
background: linear-gradient(to right, #ffdde1, #ee9ca7); 


font-family: 'Arima';
margin: 0;

}

h1 {
    letter-spacing: 3px;
    display: flex;
flex-direction: column;
align-items: center;
}