.carousel_button {
    position: absolute;
    background: none;
    border: none;
    font-size: 3rem;
    z-index: 2;
    top: 10%;
    transform: translateY(-10%);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    background-color: rgba(0, 0, 0, .2); 
       
}

.carousel_button:hover,
.carousel_button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .3);
}

.carousel_button.prev {
    left: 1rem;

}

.carousel_button.next {
    left: 29rem;

}

