*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 28px;
    font-weight: bolder;
    grid-template-areas: "article_2";
}

/*--opdracht 2--*/

section {
    min-height: 100vh;
    min-width: 100vw;
    background-color: lightblue;
    padding: 25px;
}

section div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: thin solid black;
}

.sidebar {
    background-color: lightgreen;
    grid-row: 1 / 4;


}

.article {
    background-color: white;
    grid-column: 2;
    height: 200px;
    width: 600px;
}

/*--opdracht 5--*/

#article_2 {
    grid-area: article_1;
    justify-self: end;
    align-self: end;
}



.grid-container {
    display: grid;
    grid-template-columns: 0.1fr 0.1fr;
}







/*--opdracht 3--*/

section {
    min-height: 100vh;
    min-width: 100vw;
    background-color: lightblue;
    padding: 25px;
}

section div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: thin solid black;
}

.sidebar1 {
    background-color: lightgreen;
    grid-row: 1 / 4;

}

.article1 {
    background-color: white;
    grid-column: 2;
}



.grid-container1 {
    display: grid;
    grid-template-columns: minmax(100px 200px);
grid-gap: 10px;
}

/*--opdracht 8--*/



section {
    min-height: 100vh;
    min-width: 100vw;
    background-color: lightblue;
    padding: 25px;
}

section div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: thin solid black;
}

.sidebar2 {
    background-color: lightgreen;
    grid-row: 1 / 4;


}

.article2 {
    background-color: white;
    grid-column: 2;
    height: 200px;
    width: 600px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: [col-start] 300px [col-mid] 1fr [col-end];
    grid-template-rows: [row-start] 1fr [row-mid] 1fr [row-end];
}